/* Titlebar Styles */
.titlebar {
  letter-spacing: 0.05em;
  margin-bottom: 18px;
  position: relative;
  text-align: center;
  height: 50px;
}

.title {
  color: var(--color-short-round);
  font-size: 1rem;
  font-weight: 200;
  padding-top: 18px;
}

.iconGroup {
  display: flex;
}

.iconWrapper {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
}

.iconWrapperSingle {
  /* Single icon wrapper styles */
}

.iconWrapperDoubleLeft {
  /* Double icon wrapper left styles */
}

.iconWrapperDoubleRight {
  /* Double icon wrapper right styles */
}

.icon {
  transition: var(--transition-default, all 0.2s ease);
}

.iconClose line,
.iconMinimize line {
  stroke: var(--color-background-lightest);
  transition: var(--transition-default, all 0.2s ease);
}

.iconWrapperTitlebar:hover .menuLine {
  background-color: var(--color-accent);
}

.iconWrapperTitlebar:hover .iconClose line {
  stroke: var(--color-focus-round);
}

.iconWrapperTitlebar:hover .iconMinimize line {
  stroke: var(--color-accent);
}

/* Menu styles */
.menuWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 16px;
}

.menuLine {
  background-color: var(--color-background-lightest);
  display: inline-block;
  transition: var(--transition-default, all 0.2s ease);
  width: 20px;
  height: 2px;
}

.menuLine:last-child {
  width: 10px;
}

.menuWrapper.isCollapsed .menuLine:first-child {
  transform: rotate(-45deg);
  width: 12px;
}

.menuWrapper.isCollapsed .menuLine:last-child {
  transform: rotate(45deg);
  width: 12px;
}
